<md-dialog aria-label="password">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Paste is secured</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>Enter a password to unlock a paste.</h3>
        <md-input-container>
		  <label>Password</label>
		  <input type="password" ng-model="that.password">
		</md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="that.applyPassword()">
       Unlock
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

